* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(57,57,57);
}

.nav-title {
    margin-left: 30px;
    color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

li {
    padding: 10px 10px;
}

a{
    text-decoration: none;
    color: azure;
}

.btn {
    background-color: #4DD0E1;
    color: white;
    border: 3px solid black;
    padding: 5px;
    margin-right: 20px;
}